<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= title %></title>
    <link rel="stylesheet" href="style.css">
</head>
<body style="text-align: center;">
    <div class="tab-container">
        <input type="checkbox" id="toggle" class="toggle-input">
        <label for="toggle" class="toggle-label">☰ Menu</label>
        <nav id="tab-content" class="tab-content">
            <h4>
                <a href="/home">Home</a>
                <a href="/about">About Me</a>
                <a href="/contact">Contact</a>
                <a href="/projects">Projects</a>
            </h4>
        </nav>
    </div>
    <h1><%= title %></h1>

    <p>Here you can showcase your Python projects or provide links to download them.</p>

    <% projects.forEach(project => { %>
      <section>
          <h2><%= project.name %></h2>
          <p><%= project.description %></p>
          <a href="/files/<%= project.script %>" download="<%= project.name %>">Download <%= project.name %> Script</a>
      </section>
  <% }) %>
  
 

    <footer>
        <p>&copy; 2024 by Tanisha Zaman</p>
        <nav>
            <div class="footer-links">
                <a href="/home">Home</a>
                <a href="/about">About Me</a>
                <a href="/contact">Contact</a>
                <a href="/projects">Projects</a>
            </div>
        </nav>
    </footer>
</body>
</html>
